$main-red: #ff0000;
$main-blue: #366eff;
$main-yellow: #ffeb33;
$main-green: #10c200;

$black-color:#000000;
$white-color:#ffffff;
$main-border: 1px solid rgba(255, 0, 0, 0.514);
$box-shadow:16px 16px 20px rgba(0, 0, 0, 0.15),
-8px -8px 20px rgba(255, 255, 255, 0.05);
$background: rgba(207, 203, 203, 0.15);
