.check {
    margin-top: 3px;
  .square {
    width: 23px;
    height: 23px;
    background: #f4f4f4;
    border-radius: 5px;
    .image{
        margin-top: 6px;
        margin-left: 6px;
        width: 11px;
    }
  }
}
