.wrap {
  position: absolute;
  max-width: 340px;
  margin: auto;
  padding: 10px;
  top: 854px;
  background: #282828;
  height: 40px;
  margin-left: 5px;
  .items_wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
    .items {
      font-family: Abhaya Libre SemiBold, sans-serif;
      flex-shrink: 0;
      display: flex;
      gap: 20px;
      counter-reset: item;
      justify-content: space-around;
      min-width: 100%;
      animation: scroll 2000s linear infinite;
      color: white;
      .status {
        font-family: Abhaya Libre SemiBold, sans-serif;
        width: 340px;
        text-align: center;
      }
    }
  }
  &:before,
  &:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  &:before {
    left: 0;
    background: linear-gradient(90deg, #282828 0%, rgba(255, 255, 255, 0) 100%);
  }
  &:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #282828 100%);
  }
  &:hover {
    .items {
      animation-play-state: paused;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
