@import "../../../styles/variables";
.form {
  padding: 15px;
  position: relative;
  .important {
    background: $main-red;
  }
  .middle {
    background: $main-blue;
  }
  .lite {
    background: $main-yellow;
  }
  .select {
    font-family: Abhaya Libre SemiBold, sans-serif;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    background: $background;
    border-radius: 15px;
    box-shadow: $box-shadow;
    color: $white-color;
    border-style: none;
    .option {
      color: $black-color;
      font-family: Abhaya Libre SemiBold, sans-serif;
    }
  }
  .enabled {
    background: $main-green;
    color: $white-color;
  }
  .disabled {
    background: $main-blue;
    color: $white-color;
  }
}
