.create {
  margin-top: 15px;
  width: 350px;
  background: #282828;
  box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15),
    -8px -8px 20px rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  .form {
    padding: 15px;
    position: relative;
    .color {
      position: absolute;
      width: 5px;
      height: 190px;
      border-radius: 3px;
      background: #FF0000;
    }
    .important{
        background: #FF0000;
    }
    .middle{
        background: #366EFF;
    }
    .lite{
        background: #FFEB33;
    }
    .input {
        font-family: Abhaya Libre SemiBold, sans-serif;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    background: rgba(207, 203, 203, 0.15);
    border-radius: 15px;
    box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15),
      -8px -8px 20px rgba(255, 255, 255, 0.05);
    color: white;
    border-style: none;
      .option {
        color: black;
        border-radius: 40px;
      }
    }
    .btn {
      cursor: pointer;
      margin: 0 auto;
      display: block;
      width: 100px;
      height: 30px;
      border-radius: 10px;
      border-style: none;
      font-family: Abhaya Libre SemiBold, sans-serif;
    }
    .enabled{
        background: #10c200;
        color:white;
    }
    .disabled{
        background: #366EFF;
        color:white;
    }
  }
}
.no_click{
  pointer-events: none;
}
