.form {
  padding: 15px;
  position: relative;
  .important {
    background: #ff0000;
  }
  .middle {
    background: #366eff;
  }
  .lite {
    background: #ffeb33;
  }
  .select {
    font-family: Abhaya Libre SemiBold, sans-serif;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    background: rgba(207, 203, 203, 0.15);
    border-radius: 15px;
    box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15),
      -8px -8px 20px rgba(255, 255, 255, 0.05);
    color: #ffffff;
    border-style: none;
    .option {
      color: black;
      font-family: Abhaya Libre SemiBold, sans-serif;
    }
  }
  .enabled {
    background: #10c200;
    color: #ffffff;
  }
  .disabled {
    background: #366eff;
    color: #ffffff;
  }
}
