@import "../../../../styles/variables";

.important {
  background: $main-red;
}
.middle {
  background: $main-blue;
}
.lite {
  background: $main-yellow;
}
.decoration {
  text-decoration: line-through;
}
