@import "../../../../styles/variables";
.input {
  font-family: Abhaya Libre SemiBold, sans-serif;
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  background: $background;
  border-radius: 15px;
  box-shadow: $box-shadow;
  color: $white-color;
  border-style: none;
}
.invalid {
  border: $main-border
}
